<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客首页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <% include pages/header.ejs %>>

    <div class="container" style="padding-top:80px;" >

    </div>

    <% include pages/footer.ejs %>>

</body>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</html>